<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wirth, inital-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/adminstyle.css">
    <title>Forma-Green</title> 
     <!-- Font Awesome CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
  <body>
 
    </nav>
        <div class="vertical-nav bg-white" id="sidebar">
            <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center">
                <div class="media-body">
                <h5 class="m-0">Diyama TIKPENTIYENA</h5>
                </div></br>
            </div>
                <a href="/">Déconnexion/Acceuil</a>
            </div>
        
            <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Administration</p>
        
            <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                    <a href="/membre" class="nav-link text-dark font-italic"> Membre</a>
                </li>
                <li class="nav-item">
                    <a href="/etablissement" class="nav-link text-dark font-italic">Centre de formation</a>
                </li>
                <li class="nav-item">
                    <a href="/espacevert" class="nav-link text-dark font-italic">Espace vert</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark font-italic">Abonnement</a>
                </li>
            </ul>
        
        </div>
    </nav>
  <!-- End vertical navbar -->